.card-wrapper {
  width: calc(25% - 10px); /* Three cards per row with 10px spacing */
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 20px;
  transition: ease 0.3s;
  background-color: #EDF2F4;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}

.card-wrapper:hover{
  background-color:  rgba(0, 0, 0, 0.2);
}

.card-image-wrapper{
  background-color: transparent;
}

.card-wrapper img {
  margin: 10px;
  height: 160px;
  background-color: transparent;
}

.card-wrapper h2{
  font-size: 1.2em;
  font-weight: 600;
  color: #2B2D42; 
  line-height: 1.2em;
  margin-bottom: 10px;
  background-color: transparent;
}

.card-wrapper p{
  font-weight: 500;
  opacity: 0.5;
  font-size: 0.9em;
  line-height: 1.2em;
  margin-bottom: 10px;
  background-color: transparent;
}
