.card-wrapper {
  width: calc(20% - 10px); /* Three cards per row with 10px spacing */
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 20px;
  transition: ease 0.3s;
  background-color: #fff
}

.card-wrapper:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.card-image-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.card-wrapper img {
  margin-bottom: 10px;
  height: 160px;
  background-color: transparent;
}

.card-wrapper h2{
  font-size: 1.4em;
  font-weight: 600;
  color: #555; 
  line-height: 1.2em;
  margin-bottom: 10px;
  background-color: transparent;
}

.card-wrapper p{
  font-weight: 500;
  opacity: 0.5;
  font-size: 0.9em;
  line-height: 1.2em;
  margin-bottom: 10px;
  background-color: transparent;
}

.tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
}

.tag {
  color: #000; 
  padding: 3px 10px;
  border-radius: 7px;
  margin-right: 10px;
  margin-bottom: 5px;
}

/* Estilos para a primeira tag */
.tag:nth-child(1) {
  background-color: #f2c94c;
}

/* Estilos para a segunda tag */
.tag:nth-child(2) {
  background-color: #ff6b6b;
}