.carousel-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-wrapper .arrow{
    font-size: 8em;
    margin-bottom: 20px;
    transition: .3s ease-out;
    cursor: pointer;
}

.carousel-wrapper .arrow:hover{
    fill: #EF233C;
}

.carousel {
    display: flex;
    white-space: nowrap;
    overflow: scroll; /* Alterado para "hidden" para ocultar o excesso */
    scroll-behavior: smooth;
  }
  
.subject-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2B2D42;
    color: #EDF2F4;
    padding: 2.7em 6em;
    cursor: pointer;
    width: calc((100% / 3) - 1em); /* Ajustado para exibir apenas 3 matérias */
    border-radius: 8px;
    transition: 0.3s ease-out;
    margin: 0 0.5em;
}

.subject-container:hover{
    background-color: #EF233C;
    color: #EDF2F4;
}
.subject-container * {
    background-color: transparent;
}

.subject-container .subject-name{
    max-width: 20ch; /* Substitua por seu valor desejado */
}



