.eng-dropdown select{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    height: auto;
    padding: 12px  26px; 
    width: 17.9rem; 
    font-size: 16px;
    color: #2B2D42;
    margin-top: 10px;
    cursor: pointer
}

.eng-dropdown select:focus{
    outline: none;
}

.eng-dropdown option{
    color: #2B2D42;
    padding: 5px;
}

.eng-dropdown option:checked {
    background-color: #EF233C; /* Cor de fundo quando selecionado */
    color: #fff; /* Cor do texto quando selecionado */
}