.reset-password-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.reset-password-container .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.reset-password-container .form-container h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  