.input-wrapper{
    height: 4rem;
    width: 100%;
    border-radius: 10px;
    padding: 0 30px;
    box-shadow: 0 0 8px #ddd;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0 ,0 , 0.3);;
}

.input-wrapper input{
    color: #435334;
    font-size: 1.25em;
    background-color: transparent;
    margin-left: 30px;
    padding-left: 20px;
    border: none; 
    height: 100%;
    width: 100%;
    outline: none; 
    border-left: 1px solid rgba(0, 0 ,0 , 0.25);
}

.input-wrapper input::placeholder{
    color: rgba(67, 83, 52, 0.8);
}

#search-icon{
    font-size: 1.4em;
    background-color: transparent;
    cursor: pointer;
    transition: 0.25s ease;
}

#search-icon:hover{
    color: #EF233C;
}


