.login {
    display: flex;
    height: 100vh;
    color: #435334;
    overflow: hidden;
}

.left-section {
    width: 60%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-section .form-container{
    padding: 10px;
}

.left-section .form-container h1{
    margin-bottom: 20px;
    text-align: center;
}

.left-section .form-container p{
    margin-top: 15px;
    font-weight: 500; 
}

.left-section .form-container .sign-text{
    text-align: center;
}

.left-section .error-message{
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    display: none;
}

.left-section .sign-link{
    cursor: pointer; 
    color: #9EB384;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.left-section .sign-link:hover{
    color: #435334; 
    text-decoration: underline;
}

.right-section {
    width: 40%; 
}

.right-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.shake {
    animation: shake 1s;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
    }
  }
  
  
