.login {
    display: flex;
    height: 100vh;
    color: #435334;
}

.left-section {
    width: 60%; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.left-section h1{
  margin: 12rem 0 2rem 0;
}

.left-section .signup-title{
    margin: 5.5rem 0 2rem 0;
}

.left-section p {
    margin-top: 15px;
    font-weight: 500; 
}

.left-section .link{
    cursor: pointer; 
    color: #435334;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.left-section .link:hover{
    color: #9EB384;
    text-decoration: underline;
}

.right-section {
    width: 40%; 
}

.right-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



  
