.teacher-wrapper {
  padding: 15vh 25vh 0 25vh;
}

.teacher-header {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.teacher-profile img {
  height: 230px;
  margin: 10px 50px 0px 0px;
}

.teacher-details{
    display: flex;
    flex-direction: column;
}

.teacher-details h1 {
    font-size: 2em;
    font-weight: 600;
    color: #2B2D42; 
    line-height: 1.2em;
    margin-bottom: 25px;
}

.teacher-subject{ 
    background-color: #EF233C;
    color: #fff;
    font-size: 0.7em;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 8px;
    max-width: fit-content;
}

.teacher-rating{
  border-radius: 8px;
  position: absolute;
  right: 0;
  margin-right: 40px;
  row-gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.reviews-label{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.reviews-label h2{
  font-size: 1.8em;
  font-weight: 400;
}

.review-button{
  display: flex;
  background-color: #53D769;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 7px;
  border-radius: 5px;
  transition: .3s ease;
  color: #ededed;
}

.review-button:hover{
  background-color: #46C263;
  cursor: pointer; 

}

.review-button button{
  color: #ededed; 
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 1em;
}

.review-button .review-icon{
  font-size: 1.2em;
  background-color: transparent;
}