.home-wrapper{
  padding: 20vh 25vh 0 25vh;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.search-bar-results {
  margin-top: 8vh;
}

.teacher-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
