.home-wrapper{
  padding: 20vh 25vh 0 25vh;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.courses-container.hidden {
  display: none;
}

.linha-divisoria {
  text-align: center;
  width: 100%;
  margin: 30px 0; /* Ajuste a margem conforme necessário */
}

.linha-divisoria span {
  display: inline-block;
  position: relative;
  padding: 0 10px;
}

.linha-divisoria span::before,
.linha-divisoria span::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%; /* Ajuste a largura conforme necessário */
  height: 0.5px;
  background-color: rgba(0,0,0,0.3); /* Cor da linha */
}

.linha-divisoria span::before {
  right: 100%;
  margin-right: 15px; /* Espaçamento entre a linha e o texto */
}

.linha-divisoria span::after {
  left: 100%;
  margin-left: 15px; /* Espaçamento entre a linha e o texto */
}

.courses-wrapper{
  display: flex; 
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 20px;
}


.search-bar-results {
  margin-top: 8vh;
}

.teacher-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

/* Estilizando a barra de rolagem */
body::-webkit-scrollbar {
  width: 12px; /* A largura da barra de rolagem */
}

/* Estilizando o pega-pedaço (thumb) da barra de rolagem */
body::-webkit-scrollbar-thumb {
  background-color: #888; /* Cor do pega-pedaço */
}

/* Fazendo a barra de rolagem sempre visível, mesmo sem overflow */
body {
  overflow-y: scroll;
}