.subject-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aaa;
    padding: 2.7em 6em;
    height: 100%;
    cursor: pointer;
    width: calc((100% / 3));
    border-radius: 8px;
    transition: 0.25s ease-out;
    margin-bottom: 30px;
}

.subject-container * {
    background-color: transparent;
}

.subject-container:hover{
    background-color: #ccc;
}