[data-md-color-scheme="jungle"] {
    --md-primary-fg-color:        #007D30; /* Verde Selva */
    --md-primary-fg-color--light: #8BCC9E; /* Tom mais claro de Verde Selva */
    --md-primary-fg-color--dark:  #00511E; /* Tom mais escuro de Verde Selva */
  }
  