.subjects-wrapper{
    padding: 15vh 20vh 0 20vh;
    color: #2B2D42; 
}

.subjects-wrapper .course-name{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.subjects-wrapper .semester{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}