.subjects-wrapper{
    padding: 15vh 10vh 0 10vh;
    color: #2B2D42; 
}

.subjects-wrapper .course-name{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.subjects-wrapper .semester{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}