*{
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'MinhaFonte';
  src: url('./assets/fonts/Inter.ttf') format('truetype');
}

body {
  font-family: 'MinhaFonte';
}


::-webkit-scrollbar {
  width: 0; /* Largura da barra de rolagem */
} 


