header{
    top: 0; 
    position: fixed; 
    z-index: 1000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 70px;
    font-weight: 500; 
    font-size: 16px;
    border-bottom: 1px solid #00000033;
}

header .logo{
    color: #2B2D42; 
    transition: 0.25s ease;
    cursor: pointer;
}

header .logo:hover{
    color: #EF233C;
}

header ul {
    display: flex; 
    justify-content: center;
    align-self: center;
    gap: 80px;
    list-style: none;
    margin-right: 20px;
}

header .link{
    cursor: pointer; 
    color: #2B2D42; 
    text-decoration: none;
    transition: 0.25s ease;
}

header .link:hover{
    color: #EF233C;
}

header .sign-in{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

