header{
    top: 0; 
    position: fixed; 
    z-index: 1000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 3%;
    border-bottom: 1px solid rgba(0, 0 ,0 , 0.25);
    font-weight: 500; 
    font-size: 16px;
}

header ul{
    display: flex;
}

header ul li{
    margin: 0 40px; 
}

header .link{
    cursor: pointer; 
    color: #435334; 
    text-decoration: none;
    transition: 0.25s ease;
}

header .link:hover{
    color: blue;
}

header .sign-in{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .sign-in .link{
    padding: 15px;
}
