.course-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%; 
    height: 100%;
    padding: 10em 2em;
    border-radius: 10px;
    background-color: #2B2D42;
    color:  #EDF2F4;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.course-card:hover{
    width: 30%;
}

.course-card *{
    background-color: transparent;
}

.course-card .course-name{
    font-weight: 600;
    text-align: center;
}